<div class="register-page">
  <div class="register-outer">

    <form [formGroup]="form" (submit)="submit()" class="register-box">

      <div class="message-sent-info mb-3">
        A message with a code was sent to your email
      </div>

      <div class="form-group">
        <input formControlName="code" class="confirmation-input form-control" type="text" placeholder="Enter code here">
      </div>

      <div class="d-flex justify-content-end">
        <ng-container *ngIf="!sendAgainAvailable">
          Send again in {{ this.countdownMinutes }}:{{this.countdownSeconds}}
        </ng-container>
        <button *ngIf="sendAgainAvailable" (click)="sendAgain()" class="btn">Send again</button>
      </div>

      <button type="submit" class="btn btn-primary mt-3 pt-3 pb-3">Next</button>

    </form>

    <svg class="circles" viewBox="0 0 291 262" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="100" cy="162" r="100" fill="#9F8FE1" fill-opacity="0.44"/>
      <circle cx="191" cy="100" r="100" fill="#9F8FE1" fill-opacity="0.44"/>
    </svg>

  </div>
</div>
